@{ ViewData["Title"] = "Ayuda e Información"; }
<div class="card bg-light p-4">
    <h2 class="text-primary border-bottom pb-2">Información del Desarrollador</h2>
    <div class="mt-4">
        <p><strong>Nombre completo:</strong> Eldan André Escobar Asturias</p>
        <p><strong>Carnet:</strong> 202303088</p>
        <p><strong>Curso:</strong> Introducción a la Programación y Computación 2</p>
        <p><strong>Sección:</strong> P</p>
    </div>
    <div class="mt-5">
        <h4>Documentación</h4>
        <p>Para más información sobre el funcionamiento interno, algoritmos de optimización y uso de Graphviz, consulte el manual técnico:</p>
        <a href="#" class="btn btn-outline-dark">Ir a GitHub</a>
    </div>
</div>