@{
    ViewData["Title"] = "Inicio";
}

<h1>Cargar XML</h1>

<form method="post" action="/Home/Cargar" enctype="multipart/form-data">
    
    <input type="file" name="archivo" />

    <br /><br />

    <button type="submit">Cargar</button>

</form>

<br /><br />

<a href="/Dron">
    <button type="button">Ver Drones</button>
</a>

<br /><br />

<a href="/Sistema">
    <button type="button">Ver Sistemas</button>
</a>

<br /><br />

<a href="/Mensaje">
    <button type="button">Ver Mensajes</button>
</a>

@if (ViewBag.Mensaje != null)
{
    <p>@ViewBag.Mensaje</p>
}